<div class="lists">
  <div class="task">
    task
  </div>
  <div class="limit">
    limit
  </div>
  <div class="main-box" >
    <div class="task-list">
      <% @lists.each do |list|%>
        <li>
          <input type="checkbox" id="02-A" name="checkbox02" checked="checked">
          <label for="02-A" class="checkbox02">
            <%= list.task %>  <%=list.limit %>
          </label>
        </li>
      <% end %>
    </div>
    <div class="form__wrapper2" >
      <div class="actions2">
        <%= link_to 'add',new_list_path, class: :form__btn2 %>
      </div>
    </div>
  </div>
</div>