input[type=checkbox] {
  display: none;
}
.checkbox02 {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;
}
.checkbox02::before {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.checkbox02::after {
  border-right: 6px solid #00cccc;
  border-bottom: 3px solid #00cccc;
  content: '';
  display: block;
  height: 20px;
  left: 7px;
  margin-top: -16px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 9px;
}
input[type=checkbox]:checked + .checkbox02::before {
  border-color: #666;
}
input[type=checkbox]:checked + .checkbox02::after {
  opacity: 1;
}


.actions1{
  position: fixed;
  bottom: 20%;
  right: 20%;
  margin: 50px;
}

.form__btn1{
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  display: inline-block;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.task-list{
  padding: 100px;
  margin-bottom: 50px;
}