<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの詳細ページ"%>
      </h2>
      <div class="goals">
        <% @goals.each do |goal| %>
          <p><%= goal.text %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>