<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      
      <h2 class="page-heading">

      </h2>
      <div class="user__card">
        <%#<%= render partial: '#', collection: @user.prototypes %>
      </div>
    </div>
  </div>
</div>