<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
      <div class="wrapper">
        <% if user_signed_in? %>
          <div class="greeting">
            Hello!!
            <%= link_to "#{current_user.nickname}ðŸ’œ", root_path, class: :greeting__link%>
          </div>
        <% end %>
      </h2>
      <div class="neon">
        <p><a href="https://en.wikipedia.org/wiki/Red">
          My Goals
        </a></p>
      </div>
      <ul >
        <div class="goals">
          <% @goals.each do |goal| %>
            <li><h1><%= goal.text %></h1></li>
          <% end %>
        </div>
      <%# if current_user == @goals %>
      <%#= link_to 'å•†å“ã®ç·¨é›†', edit_item_path, method: :get, class: "item-red-btn" %>
    <%# end %>
    </div>
  </div>
</div>