<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
      <div class="wrapper">
        <% if user_signed_in? %>
          <div class="greeting">
            Hello!!
            <%= link_to "#{current_user.nickname}💜", root_path, class: :greeting__link%>
          </div>
        <% end %>
      </h2>
      <div class="neon">
        <p><a href="#">
          My Goals
        </a></p>
      </div>
      <ul>
        <div class="goals">
          <% @goals.each do |goal| %>
            <li>
            <h1><%= goal.text %></h1>
            <% if user_signed_in? %>
            <%= link_to 'delete', goal_path(goal.id), method: :delete, class:'goal-destroy' %>
            <% end %>
            </li>
          <% end %>
        </div>
      </ul>
      <%= link_to 'add',new_goal_path, class: :form__btn %>
    </div>
  </div>
</div>