<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        Hello!!
        <%= link_to "#{current_user.nickname}ðŸ’œ", root_path, class: :greeting__link %>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%# æŠ•ç¨¿æ©Ÿèƒ½å®Ÿè£…å¾Œã€éƒ¨åˆ†ãƒ†ãƒ³ãƒ—ãƒ¬ãƒ¼ãƒˆã§ãƒ—ãƒ­ãƒˆã‚¿ã‚¤ãƒ—æŠ•ç¨¿ä¸€è¦§ã‚’è¡¨ç¤ºã™ã‚‹ %>
    </div>
  </div>
</main>
