<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        Hello!!
        <%= link_to "#{current_user.nickname}💜", root_path, class: :greeting__link %>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'goal', collection: @goals %>
    </div>
  </div>
</main>
